.bottom {
  font-size: 12px;
  line-height: 20px;
  color: var(--ag-ant-color-text-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}
