.step-one {
  .form-item-label {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--ag-ant-color-text);
  }

  .info-icon {
    font-size: 16px;
    color: var(--ag-ant-color-text-tertiary);
  }
}

.opt-item {
  display: flex;
  align-items: center;
  gap: 8px;
  .opt-title {
    line-height: 20px;
  }
}
