# User ID and Group ID for containers
# These will be automatically set by run.sh, or you can set them manually
UID=1000
GID=1000

# Timezone
TZ=Asia/Shanghai

# Default values
# Set this to the absolute path if you want to use a different location
MIDDLEWARE_HOME=.

