@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/Roboto-Bold.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: bold;
src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/Roboto-Medium.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 500;
src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/Roboto-MediumItalic.ttf') format('truetype');
}



@font-face {
  font-family: 'SourceHanSans';
  font-style: normal;
  font-weight: normal;
  src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/SourceHanSansSC-Normal-Min.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceHanSans';
  font-style: normal;
  font-weight: 500;
  src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/SourceHanSansSC-Medium-Min.ttf') format('truetype');
}



@font-face {
  font-family: 'SourceHanSans';
  font-style: normal;
  font-weight: bold;
  src: url('https://g.alicdn.com/cm-design/mw-vendor/1.6.11/SourceHanSansSC-Bold-Min.ttf') format('truetype');
}


