.toolbar-card {
  height: 40px;

  .ant-card-body {
    padding: 0;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 40px;

    .icon {
      font-size: 22px;
      flex-basis: 60%;
    }

    .split {
      display: inline-block;
      width: 1px;
      height: 16px;
      flex-basis: 1%;
      border: 1px solid #d0d0d0;
    }
  }
}
