.toolbar-wrapper {
  z-index: 120;
  position: fixed;
  top: 80px;
  right: 20px;
}

.toolbar-card {
  height: 40px;
  margin-right: 20px;

  .ant-card-body {
    padding: 0;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 40px;

    .toolbar-body {
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .icon {
      font-size: 22px;
      //flex-basis: 60%;
      margin-left: 10px;
      margin-right: 10px;

      &:hover {
        color: var(--ant-color-primary);
      }
    }

    .button {
      font-size: 14px;
      .icon {
        margin-bottom: -5px;
      }
    }

    .text {
      font-size: 12px;
      //flex-basis: 60%;
      margin-left: 10px;
      margin-right: 10px;
    }

    .split {
      display: inline-block;
      width: 1px;
      height: 16px;
      flex-basis: 1%;
      border: 1px solid #d0d0d0;
    }
  }
}
