.list {
  align-items: flex-start;
  max-height: 100%;
  padding-right: 4px;
  overflow-y: auto;
  .card {
    width: calc((100% - 12px) / 2);
    padding: 16px 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s ease;
    border: 1px solid var(--ag-ant-color-border-secondary);

    img {
      width: 24px;
      border: 1px solid var(--ag-ant-color-border-secondary);
      border-radius: 6px;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .desc {
      margin-top: 4px;
      color: var(--ag-ant-color-text-tertiary);
      font-size: 12px;
      line-height: 20px;
    }

    &:hover:not(.selected) {
      box-shadow: var(--ag-ant-box-shadow);
      border-color: var(--ag-ant-color-primary);
    }

    &.selected {
      box-shadow: 0px 4px 6px 0px var(--ag-ant-color-5);
      border: 1px solid var(--ag-ant-color-primary);
    }
  }
}

.search {
  width: 220px;
}

.list-wrap {
  height: 380px;
}

.page {
  flex-shrink: 0;
  justify-content: end;
}
