server:
  port: 8080
spring:
  application:
    name: spring-ai-alibaba-deepresearch
  ai:
    openai:
      api-key: ${AI_DASHSCOPE_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      chat:
        options:
          model: qwen-max
      client:
        connection-timeout: 60000    # 60秒连接超时
        read-timeout: 300000       # 5分钟读取超时
        write-timeout: 60000
    mcp:
      client:
        sse:
          servers-configuration: classpath:mcp-servers.json
        stdio:
          servers-configuration: classpath:mcp-servers.json
        toolcallback:
          enabled: true
    alibaba:
      toolcalling:
        tavilysearch:
          enabled: true
          api-key: ${TAVILY_API_KEY}
      deepreserch:
#        background-investigation-type: tool_calls

logging:
  level:
    com.alibaba.cloud.ai.example.deepresearch: debug


