server:
  port: 8080
spring:
  application:
    name: spring-ai-alibaba-deepresearch
  ai:
    openai:
      api-key: ${AI_DASHSCOPE_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      chat:
        options:
          model: qwen-max
      client:
        connection-timeout: 60000
        read-timeout: 300000
        write-timeout: 60000
    mcp:
      client:
        type: async
        sse:
          connections:
            amap:
              url: https://mcp.amap.com?key=${AMAP_API_KEY}
        stdio:
          servers-configuration: classpath:mcp-servers.json
        toolcallback:
          enabled: true
    alibaba:
      toolcalling:
        tavilysearch:
          enabled: true
          api-key: ${TAVILY_API_KEY}
        crawler:
          jina:
            enabled: false
            api-key: ${JINA_API_KEY}
      deepreserch:
        mcp-client-mapping:
          researchAgent:
            - amap
          coderAgent:
            - amap
        mcp-node-config-path: classpath:mcp-node-config.json

logging:
  level:
    com.alibaba.cloud.ai.example.deepresearch: debug
