server:
  port: 8080
spring:
  application:
    name: spring-ai-alibaba-deepresearch
  ai:
    openai:
      api-key: ${AI_DASHSCOPE_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      chat:
        options:
          model: qwen-max
      embedding:
        options:
          model: text-embedding-v1
      client:
        connection-timeout: 60000
        read-timeout: 300000
        write-timeout: 60000

    mcp:
      client:
        type: async
#        sse:
#          connections:
#            weather_mcp_server:
#              url: http://localhost:8888
#        stdio:
#          servers-configuration: classpath:mcp-servers.json
        toolcallback:
          enabled: true
    alibaba:
      toolcalling:
        tavilysearch:
          enabled: true
          api-key: ${TAVILY_API_KEY}
        jinacrawler:
          enabled: true
          api-key: ${JINA_API_KEY}
      deepresearch:
        mcp:
          enabled: true
          config-location: classpath:mcp-config.json
        parallel-node-count:
          researcher: 5
          coder: 5
#        mcp-client-mapping:
#          researchAgent:
#            - amap-maps
#          coderAgent:
#            - amap-maps
#            - weather_mcp_server
        rag:
          enabled: true
          # 可以设置为 'simple' 或 'elasticsearch'
          vector-store-type: simple
          data:
            # 启动时加载 classpath下data目录中的所有文件
            locations:
              - "classpath:/data/"
logging:
  level:
    com.alibaba.cloud.ai.example.deepresearch: debug
