html,
body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.graph-menu {
  cursor: context-menu;
  z-index: 99999;
  width: 256px;
  position: fixed;
}

.graph-minimap {
  position: absolute;
  left: 12px;
  margin: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #e9ebf0;
}

.graph-toolbar {
  position: absolute;
  left: 12px;
  bottom: 4px;
  z-index: 9;
}
